@keyframes movingAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(270deg, #6c136c, #801b80, #6f156f, #801b80, #6c136c);
    background-size: 1000% 1000%;
    animation: movingAnimation 30s ease infinite;
    z-index: 1000; /* To make sure the header is always on top */
  }
  
  .logo {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
  }
  
  .site-title {
    font-family: 'Georgia', serif;
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .navbar {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  .navbar__item {
    text-decoration: none;
    color: white; /* Changed color to white */
    font-weight: bold;
  }