@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .background-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: 200% 200%;
    background-image: linear-gradient(270deg, #6A0575, #9d3aae, #8b389a);
    animation: gradient 5s ease infinite;
    color: #ffffff;
  }